<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
<img src="assets/logo.png">
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>From Seed to Spoon</ion-card-subtitle>
    <ion-card-title style="color: #2ca58d;">Garden Calculator</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Calculate the amount of soil required to fill your raised bed below!
    <ion-item style="margin-top: 20px;">
      <ion-label position="stacked">Raised Bed Length (ft)</ion-label>
      <ion-input [(ngModel)]="raisedBedLengthFeet"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Raised Bed Width (ft)</ion-label>
      <ion-input [(ngModel)]="raisedBedWidthFeet"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Raised Bed Height (in)</ion-label>
      <ion-input [(ngModel)]="raisedBedHeightInches"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Raised Bed Name</ion-label>
      <ion-input [(ngModel)]="raisedBedName"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="addToGardenList()">Add to Garden</ion-button>
    <ion-list>
        <ion-card *ngFor="let raisedBed of testGarden; let i = index" class="ion-no-padding ion-margin-top" style="border: 1px solid lightgray">
          <ion-card-content class="ion-no-padding">
            <ion-text class="ion-text-center">
              <h1>
                Garden {{ i+1 }}
              </h1>
           </ion-text>
           <ion-item lines="none">
             <ion-label>Length: {{ raisedBed.raisedBedLengthFeet }}</ion-label>
             <ion-label>Height: {{ raisedBed.raisedBedHeightFeet }}</ion-label>
             <ion-label>Width: {{ raisedBed.raisedBedWidthFeet }}</ion-label>
            </ion-item>
            <ion-text class="ion-text-center">
              <h1>Soil Volume: {{ raisedBed.soilVolume }}</h1>
            </ion-text>
          </ion-card-content>
        </ion-card>
        <!-- <ion-text class="ion-text-center" style="width: 100%;">
          <div>Length: {{ raisedBed.raisedBedLengthFeet }}</div>
          <div>Height: {{ raisedBed.raisedBedHeightFeet }}</div>
          <div>Width: {{ raisedBed.raisedBedWidthFeet }}</div>
          <div>Volume: {{ raisedBed.soilVolume }}</div>
        </ion-text> -->
    </ion-list>
  </ion-card-content>
</ion-card>
<ion-text class="ion-text-center">
  <h1>The total volume is {{ totalVolume }}</h1>
</ion-text>
</ion-content>
<ion-footer>
</ion-footer>